:root{
    /*color variables*/
    --yellow: hsl(47, 88%, 63%);
    --white:hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

     /*font-size variables*/
    --medium-font-size: 16px;
    --large-font-size: 24px;
    --small-font-size: 14px;
}


*,
*::before,
*::after { box-sizing: border-box; }

* { margin: 0; }

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 500,800;
  font-style: normal;
}

body
{
    
    color:hsl(0, 0%, 7%);
    font-size: var(--medium-font-size);
    line-height: 150%;
    letter-spacing: 0px;
    background-color: var(--yellow);
    font-family: 'Figtree', sans-serif;
   
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}

.card{
background-color: var(--white);
border-radius: 20px;
border: 1px solid var(--gray-950);
box-shadow: 8px 8px 0 var(--gray-950);

padding: 24px;
gap: 24px;

max-width: 384px;

transition: box-shadow 600ms ease-out;

}

.card-avatar{
    width: 32px;
}


.card-category{
    background-color: var(--yellow);
    border-radius: 4px;
    padding: 4px 12px;

    
}

.card-author{
    display: flex;
    align-items: center;
    gap: 12px;
}

.card-content, .card{
    display: flex;
    flex-direction: column;
    align-items: left;
}


.card-content {
    gap: 12px;
}



.card-image{
    border-radius: 10px;
}


.card-wrapper-category{
    width: fit-content;
    gap:8px;
}

/* fonts <- do poprawy. optymalizacja + variables */
.card-category,.card-published-date{
font-size: var(--small-font-size);
font-weight: 500;
}

.card-title{
    font-size: var(--large-font-size);
    font-weight: 800;
    transition: color 600ms ease-out;
}

.card-description{
    font-size: var(--medium-font-size);
    font-weight: 500;
    color: var(--gray-500);
}

.card-author-name{
    font-size: var(--small-font-size);
    font-weight: 800;
}

.attribution { font-size: var(--small-font-size); text-align: center; margin-top: auto; padding:16px 0px}
.attribution a { color: var(--gray-500); }


/* hover state*/
.card:hover .card-title {
    color: var(--yellow);

}

.card:hover{
    box-shadow: 16px 16px 0 var(--gray-950);
    cursor: pointer;
}

/*mobile version*/
@media (max-width: 375px) {
    body { padding: 14px; }
    .card{  max-width: 384px; width: 100%;}
    .card-category, .card-published-date{ font-size: 12px;}
    .card-title{ font-size: 20px;}
    .card-description{ font-size: var(--small-font-size);}
}